@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Baloo+Bhaina+2:wght@500&display=swap');

body{
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}
nav{
    display:flex ;
    background-color: black;
    color: white;
}
nav ul li{
    list-style-type: none;
    font-size: 1.3rem;
}
.game-container{
    display: flex;
    justify-content: center;
    margin-top: 40px;
    
}
.gameInfo h1{
    font-family: 'Baloo Bhaina 2', cursive;
}
.container{
    display: grid;
    grid-template-columns: repeat(3 , 10vw);
    grid-template-rows: repeat(3 , 10vw);
    
}
.box{
    border: 2px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 7vw;
}
.box:hover{
    background-color: rgb(218, 192, 241);
}
img{
   width: 0;
   transition: width 1s ease-in-out;
}
.bl-0{
    border-left: 0;
}

.bt-0{
    border-top: 0;
}
.br-0{
    border-right: 0;
}
.bb-0{
    border-bottom: 0;
}
#reset{
    margin: 0 16px;
    padding: 5px 25px;
    font-size: 1.1rem;
    background-color: #f3ddf2;
    border: 1px solid;
    border-radius: 8px;
    cursor: pointer;
}
.whosTurn{
    font-size: 1.2rem;
    font-weight: 800;
}

@media screen and (max-width:800px) {
    .game-container{
        flex-wrap: wrap;
    }
    .container {
        grid-template-columns: repeat(3 , 20vw);
        grid-template-rows: repeat(3 , 20vw);
    }
    .box{
        font-size: 2.5rem;
    }
    img{
        margin-left: 2.5rem;
    }
    .whosTurn{
        margin-left: 4rem;
    }
}

